/*! by Roman Mescheryakov | canonical.site | 2018 */

@develop-mode: false;

@width-sm: 576px;
@width-md: 768px;
@width-lg: 992px;
@width-xl: 1230px;

//@import (css) url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&subset=cyrillic');

@import "lib/normalize.less";
@import "lib/slick.less";
@import "lib/fancybox.less";

@import "slick-theme.less";
@import "grid.less";

@import "input.less";

@import "header";
@import "collapse";
@import "global";
@import "faq";
@import "booking";
@import "pay";